<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>COVI_Board</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<h1>WELCOME TO COVI_Board</h1>
            <h2>The first step toward change is awareness.</h2>
            
      </div>
        <div id="bar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Indian_Stock_Market_Trend.html">Covid Country Tracker</a></li>
                <li><a href="News_Analysis.html">Top_Covid_Alerts</a></li>
                <li><a href="Weather_Forecast_Alerts.html">Top_Affected_Nations</a></li>
            </ul>
      </div>
        <div class="contentTitle"><h1>Covid Country Tracker</h1></div>
        <div class="contentText">
          <p>COVID-19 affects different people in different ways. Most infected people develop mild to moderate illness and recover without hospitalization.Get a quick overview of countries with total corona cases. It shows the overall track of active and recovered cases in different countries worldwide. </p>
          <p>This will help in analysing and predicting impact of Corona Virus within the world.More countries can be added in the list. </p>
          <p><a href="Indian_Stock_Market_Trend.html">»  (Read more)</a></p>
        </div>
        <div class="contentTitle">
          <h1>Top_Covid_Alerts</h1>
        </div>
        <div class="contentText">
          <p>Top and Latest news related 'Covid-19' from different news portal will be displayed in a tabular form. Although this tabular form can be further improved by creating links to the latest news instead of just headlines.</p>

<p>This will keep updated with Corona Virus related News from all the possible news portal before it spreads among users.</p>

          <p><a href="News_Analysis.html">» (Read more)</a></p>
        </div>
        <div class="contentTitle"><h1>Top_Affected_Nations</h1></div>
        <div class="contentText">
		<p>This gives an overall picture of countries with maximum number of covid cases in the world. Scope for Top_Affected_Nations can be further increased by specifying the states or cities of a particular country with the maximum widespread of the virus.</p>
		<p>This data will help in understanding fluctuations that the vaccine may create to analyze the impact of vaccine.</p>
		<p><a href="Weather_Forecast_Alerts.html">» (Read more)</a></p>
		</div>  
</div>
        <div id="footer"><a href="https://sakshiseth.github.io">Backend Developer and Test Automation Engineer </a> <a href="https://sakshiseth.github.io">(Sakshi Seth)</a> <a href="https://www.linkedin.com/in/srashti-agrawal-21684815a/">and Full-Stack Developer (Srashti Agarwal)</a></div>
</body>
</html>