<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>CISCO Dashboard</title>
</head>

<body>
		
        <div id="header">
        	<h1>TOP COVID ALERTS</h1>
            <h2>Stay update with all latest news in one page</h2>
            
      </div>
        <div id="bar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Indian_Stock_Market_Trend.html">Covid Country Tracker</a></li>
                <li><a href="News_Analysis.html">Top_Covid_Alerts</a></li>
                <li><a href="Weather_Forecast_Alerts.html">Top_Affected_Nations</a></li>
            </ul>
      </div>
	  <h1>COVID_NEWS</h1>
		
          <img src="df_styled_Market.jpeg" alt="" border=3></img>
		  <img src="df_styled_Business.jpeg" alt="" border=3></img>

        <div id="footer"><a href="https://sakshiseth.github.io">Backend Developer and Test Automation Engineer </a> <a href="https://sakshiseth.github.io">(Sakshi Seth)</a> <a href="https://www.linkedin.com/in/srashti-agrawal-21684815a/">and Full-Stack Developer (Srashti Agarwal)</a></div>
</body>
</html>
